
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*-------------------------------------- Common CSS Start ----------------------------------------------*/
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 22px;
}
a{
    text-decoration: none;
    padding: 12px 35px;
    background-color: DodgerBlue;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 4px gray;
    font-size: 16px;
    font-weight: 600;
}
p{
    font-size: 17px;
    line-height: 1.5;
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px 0 50px 0;
}
.title h2{
    text-shadow: 0px 0px 4px gray;
}
.title p{
   margin-bottom: 35px;
}

/*-------------------------------------- Common CSS End ----------------------------------------------*/
/*------------------------------------- Bannar CSS Start ----------------------------------------------*/

#bannar-area{
    background-image: url("../images/donation5\ copy.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.bannar-content{
    padding: 86px 100px 125px 100px;
    text-align: center;
    color: #fff;
}

/*-------------------------------------- Bannar CSS End ----------------------------------------------*/
/*------------------------------------- Donate CSS Start ----------------------------------------------*/

.donate-container{
    display: flex;
    justify-content:center;
}
.donate-container .amount{
    width: 200px;
    text-align: center;
    padding: 25px 0;
    margin: 0 8px;
    border-radius: 5px;
    background-color: #E6E6FA;
    font-size: 18px;
    font-weight: bold;
    color: #707070;
}
.donate-container .active{
    background-color:#ff0000;
    color: rgb(255, 255, 255);
    border: 2px solid #000;
}
input{
    width: 77%;
    margin: 50px 0;
    border-bottom: 1px solid #cfcdcd !important;
}
input[type="text"]{
    font-size: 16px;
    text-align: center;
    padding: 10px 8px;
    border: none;
}
/*-------------------------------------- Donate CSS End ----------------------------------------------*/
/*------------------------------------- Plan CSS Start ----------------------------------------------*/
.card-container{
    display: flex;
}
.card{
    width: 30%;
    box-shadow: 0px  0px 1px gray;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 8px;  
}
.card p{
    text-align: justify;  
}

.food-card{
    background-color: #E6E6FA;
}
.shelter-card{
    background-color: #FFFFF0;
}
.education-card{
    background-color: #F0FFF0;
}

/*-------------------------------------- Plan CSS End ----------------------------------------------*/
/*------------------------------------- Gallery CSS Start ----------------------------------------------*/
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item{
    width: 30%;
    margin: 6px 16px;
}
.gallery-item img{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px gray;
}

/*-------------------------------------- Gallery CSS End ----------------------------------------------*/
/*------------------------------------- Update CSS Start ----------------------------------------------*/

#update-area form {
    background:#E6E6FA;
    padding: 18px 40px;
    border-radius: 4px;
}
#update-area input[type="text"]{
    width: 50%;
    border-top-left-radius:4px ;   
    border-bottom-left-radius:4px ; 
    text-align: left;
    padding: 10px 16px; 
}
button {
    padding: 10px 27px;
    margin-left: -3px;
    font-size: 16px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    border-top-right-radius:4px ;   
    border-bottom-right-radius:4px;
    cursor: pointer;
}
/*-------------------------------------- Update CSS End ----------------------------------------------*/
/*------------------------------------- Footer CSS Start ----------------------------------------------*/
footer{
    padding: 16px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
footer h3{
    color: orangered;
}
footer p{
    font-size: 14px;
}